h1{
    background-color: rgb(41, 41, 41);
    font-style: italic;
    color: white;
}
h2{
    font-style: italic;
    color: black;
}

h3{

    font-style: italic;
    color: rgb(99, 3, 3);
}

.A{
    background-color: rgb(125, 129, 185);
    display: flex;
    flex-direction: column;
}

p{
    font-size: 20px;
    font-style: italic;
    background-color: rgb(161, 175, 255);
    color: rgb(122, 124, 243);
}

a{
    font-size: 25px;
    font-style: italic;
}