

body{
    background-color: gainsboro;
    
}

h1{
    text-align: center;
    font-size: 5vw;
    color: blue;
    text-decoration: overline;
   
    
}


h2{

    background-color: aqua; width: 40%;
    text-indent: 2cm;

    font-style: oblique;

}

p{
    color: #000080;
}
#l1{
    color: blueviolet;
}
.l2{
    color: purple;
}