
body{
    background-color: LightSlateGray;
}
h1{
    color: pink;
text-decoration: underline;
font-size: 5vw;
}
p{
    font-size: 3vw;
}

#l1,#l14,#l15{
 color: purple;
}
#l2,#l13{
    color: aqua;
}
#l3,#l12{
    color: blue;
}
#l4,#l11{
    color: green;
}
#l5,#l10{
    color: yellow;
}
#l6,#l9{
    color: orange;
}
#l7,#l8{
    color: red;
}
