

table,td,th{
    border: 1px solid black;
}

#l1{
    color: red;
    background-color: rgba(18, 241, 130, 0.959);
}
#l2{
    color: blue;
    background-color: antiquewhite;
}
#l3{
    color: rgb(247, 7, 147);
}
body{
   background-color: aliceblue;
}
