h1{
    background-color: rgb(8, 7, 7);
    font-style: italic;
    color: rgb(192, 155, 155);
}
h2{
    font-style: italic;
    color: black;
}

h3{

    font-style: italic;
    color: rgb(27, 23, 23);
}

.A{
    background-color: rgb(131, 131, 243);
    display: flex;
    flex-direction: column;
}

p{
    font-size: 20px;
    font-style: italic;
    background-color: rgb(255, 255, 255);
    color: rgb(1, 1, 10);
}

a{
    font-size: 25px;
    font-style: italic;
}